#first {
  font-family: "Copperplate", serif;
  color: blue;
}

.second {
  position: absolute;
  top: 100px;
  right: 0;
  width: 300px;
  border: 4px solid;
}

.third {
  position: absolute;
  top: 100px;
  left: 0;
  width: 300px;
  border: 4px solid;
}

.fourth {
  position:fixed;
  top: 0;
  padding: 10px;
  background-color: chartreuse;
  border: 2px solid #4caf50;
}

.fifth {
 position: absolute;
  left: 300px;
  top: 2000px;
  width: 200px;
  border: 30px solid #73ad21;
}
